:root {
    --cell-size: 40px; /* Adjust size of each cell */
    --gap: 8px; /* Gap between cells */
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
    padding: 20px;
    background-color: #f4f4f4; /* Optional: board background */
    width: 100%; /* Make it responsive */
    height: 100%; /* Full height */
}

.board-row {
    display: flex;
    justify-content: center;
    gap: var(--gap);
}

.board-item {
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 50%; /* Circular cells */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Optional: adds shadow */
}

.board-item:hover {
    transform: scale(1.1); /* Example: scaling the element */
    opacity: 0.8; /* Example: reducing opacity */ /* Optional: hover effect */
}

.turn-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 20px 0;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
    text-align: center;
}



/* 
.p0-color {
    background-color: #6c63ff;
} 
*/


.p1-color {
    background-color: red;
}

.p2-color {
    background-color: blue;
}

.p3-color {
    background-color: orange;
}

.p4-color {
    background-color: purple;
}

.p5-color {
    background-color: pink;
}

.p6-color {
    background-color: yellow;
}

.p-1-color {
    background-color: #cccccc;
    opacity: 0.3;
}

.p0-color:hover {
    transform: scale(1);
    opacity: 1;
}

.p-1-color:hover {
    transform: scale(1);
    opacity: 0.3;
}

.p-2-color {
    background-color: rgb(87, 233, 87);
}